.board-group{
    position: relative;
    min-width: 272px;
    background-color: $clr-group-bg;
    margin-inline-end: 7px;
    height: fit-content;
    border-radius: 3px;
    .btn-group-menu{
        border: none;
        border-radius: 2px;
        margin: 5px;
        width: 32px;
        height: 32px;
        &:hover {
            background-color: $clr-btn-hover-group-menu;
        }
    }
}

.group-title{
    background-color: transparent;
    border: none;
    font-weight: 600;
    padding-inline-start: 7px;
    margin-inline-start: 11px;
    color: #172b4d;
    height: 28px;
    width: 219px;
}

.group-header > * {
    display: inline-block;
}