.board-list {
    >* {
        margin-block-start: 80px;
    }

    margin-block-end: 80px;
    // margin: 100px auto;


    @media (max-width: 840px) {
        // margin: 100px auto 100px 30px;
    }

    h3 {


        margin-inline-start: 3px;
        color: #5e6c84;
        font-size: 16px;
        font-family: segBold;
        margin-block-end: 10px;

        @media (max-width: 840px) {
            margin-inline-start: 15px;
            // right: 120px;

        }
    }
}


.board-list-container {
    @media (max-width: 840px) {
        max-width: 380px;
    }

    gap: 10px;
    max-width: 800px;
    // width: 100%;
    // margin: 0 auto;
    // justify-content: center;

    label,
    img {
        @media (max-width: 840px) {
            width: 170px;
            height: 92px;
        }

        cursor: pointer;
        width: 190px;
        height: 96px;
        // background-position: center;
        // background-size: cover;
        background-color: black;
        border-radius: 3px;

        .board-title {
            position: absolute;
            z-index: 1;
            word-wrap: break-word;
            font-size: 16px;
            color: $clr-base;
            font-family: segBold;
            padding: 8px;
            width: inherit;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            // @media (max-width: 840px) {
            //     width: 170px;
            //     height: 92px;
            // }
            // opacity: 1;

        }

    }

    img {
        transition: all .3s;
        opacity: 0.8;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.6;
        }

    }

    label {
        position: relative;

        &:hover {
            .board-star {
                right: 10px;
                opacity: 1;
            }
        }

        .board-star {
            font-family: trellicons;
            font-size: 14px;
            position: absolute;
            bottom: 10px;
            right: 0px;
            // right: 6000px;
            opacity: 0;
            z-index: 1;
            color: white;
            transition: right .2s ease-in-out, opacity .2s ease-in-out, transform .2s;

            &:hover {
                transform: scale(1.2);
                color: #f2d600;

            }

            &::before {
                content: "\e966";
            }

            &.star-on {
                opacity: 1;
                right: 10px;

                &::before {
                    content: "\e967";
                }

                &:hover {
                    &::before {

                        content: "\e966";
                    }
                }

                color: #f2d600;

            }
        }

        div {
            transition: all .3s;
            cursor: pointer;
            width: 190px;
            height: 96px;
            border-radius: 3px;
            opacity: 0.9;

            @media (max-width: 840px) {
                width: 170px;
                height: 92px;
            }

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.7;
            }
        }
    }
}