.board-header {
    .board-members>* {
        margin-inline-start: -1px;
        // margin-inline-end: 5px;
    }

    .board-members {
        @media (max-width: 780px) {
            position: absolute;
            top: 90px;
            right: 300px;
        }

        .btn-share-board {
            width: 74px;
            height: 32px;
            background-color: $clr-base;
            margin-inline-start: 7px;
            color: black;

            &:hover {
                background-color: #ffffffe6;
            }

            span {
                font-family: trellicons;
                font-size: 18px;
                margin-inline-end: 5px;

                &::before {
                    content: "\e950";
                }

            }
        }
    }

    button {
        color: $clr-base;
        @include mainHeaderBtn;
        margin-inline-start: 5px;
        margin-block-end: 2px;
        background-color: hsla(0, 0%, 100%, 0.2);

    }

    .btn-show-menu {
        position: absolute;
        right: 5px;
        width: 116px;

        span:first-child {
            line-height: 3px;
            font-size: 18px;
            position: relative;
            top: 3px;
            right: 5px;
            font-family: trellicons;

            &::before {
                content: "\e952";
            }
        }

        @media (max-width: 780px) {
            top: 90px;
        }
    }

    // background-color: rgba(39, 62, 88, 0.155);
    min-height: 52px;
    // padding: 8px 4px 0 8px;
    // width: 100%;
    // position: relative;
    display: flex;
    align-items: center;

    // justify-content: space-between;
    // flex-wrap: wrap;
    .btn-boards-drop {
        // @include mainHeaderBtn;
        // position: relative;
        width: 98px;
        // background-color: hsla(0, 0%, 100%, 0.2);
        margin-inline-start: 5px;

        .img-arrow,
        .boards-icon {
            width: auto;
            transform: scale(0.4);
            position: relative;
            top: 1px;
            right: 2px;
            margin-inline-end: -15px;
        }

        span {
            position: relative;
            left: 7px;
            bottom: 3px;
        }

        .boards-icon {
            transform: scale(0.7);
            top: 0px;
            right: 7px // margin-inline-end: 10px;

        }
    }

    .btn-star-board {
        @include mainHeaderBtn;
        font-family: trellicons;
        // color: $clr-base;
        font-size: rem(16px);
        width: 32px;
        background-color: hsla(0, 0%, 100%, 0.2);

        // font-weight: 400;
        & div::before {
            content: "\e966";
        }

        &:hover {
            div {
                color: #f2d600;
                transform: scale(1.2);
            }
        }

        &.star-on {
            div::before {
                content: "\e967";
            }

            color: #f2d600;

        }
    }

    .btn-user-space {
        padding-inline-start: 12px;
        padding-inline-end: 12px;

        @media (max-width: 780px) {
            position: absolute;
            top: 90px;
            right: 130px;
            display: none;
        }
    }

    .nav-divider {
        margin: 5px 7px 0px;
        color: hsla(0, 0%, 100%, 0.3);

        @media (max-width: 780px) {
            &.sub {
                position: absolute;
                top: 90px;
                right: 120px;
            }
        }
    }


    .board-title {
        @include mainHeaderBtn;
        margin-inline-start: 4px;
        margin-inline-end: 4px;
        padding: 0px 12px;
        color: $clr-base;
        font-size: rem(18px);
        line-height: 34px;

        &:focus {
            background-color: $clr-base;
            color: $clr-dark-title;
            cursor: auto;
            outline-color: $clr-input-ol;
            outline-style: solid;
            outline-width: 2px;
        }
    }

    .board-section {
        margin-top: 0.5px;
    }

    .board-members-section {
        display: flex;
    }

    .board-header-btn {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        float: left;
        font-size: rem(15px);
        height: 32px;
        line-height: 32px;
        margin: 0 4px 4px 0;
        padding: 0 12px;
        margin-block-end: 0.67em;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;

        &:hover {
            background-color: rgba(255, 255, 255, 0.377);
        }
    }
}