.board-list {
    // width: 100vw;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    margin: 100px auto;
    // width: 80vw;
    // margin: 0 auto;

    h3 {
        // max-width: 800px;
        // margin: 0 auto;
        position: relative;
        right: 345px;
        color: #5e6c84;
        font-size: 16px;
        font-family: segBold;
        margin-block-end: 10px;

        @media (max-width: 840px) {
            right: 133px;

        }
    }
}

.board-list-container {
    @media (max-width: 840px) {
        max-width: 380px;
    }

    gap: 10px;
    max-width: 800px;
    // width: 80vw;
    // margin: 0 aut;
    // margin-inline-start: 250px;
    // margin-inline-end: auto;
    // justify-content: space-between;

    label,
    img {
        @media (max-width: 840px) {
            width: 170px;
            height: 92px;
        }

        cursor: pointer;
        width: 190px;
        height: 96px;
        // background-position: center;
        // background-size: cover;
        background-color: black;
        border-radius: 3px;

        .board-title {
            position: absolute;
            z-index: 1;
            word-wrap: break-word;
            text-overflow: ellipsis;
            font-size: 16px;
            color: $clr-base;
            font-family: segBold;
            padding: 8px;
            // @media (max-width: 840px) {
            //     width: 170px;
            //     height: 92px;
            // }
            // opacity: 1;

        }

    }

    img {
        transition: all .3s;
        opacity: 0.8;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.6;
        }

    }

    label {
        div {
            transition: all .3s;
            cursor: pointer;
            width: 190px;
            height: 96px;
            border-radius: 3px;
            opacity: 0.9;

            @media (max-width: 840px) {
                width: 170px;
                height: 92px;
            }

            &:hover {
                opacity: 0.8;
            }

            &:active {
                opacity: 0.7;
            }
        }
    }
}