.board-header {
    // background-color: rgba(39, 62, 88, 0.155);
    height: 52px;
    // padding: 8px 4px 0 8px;
    // width: 100%;
    // position: relative;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // flex-wrap: wrap;
    .btn-boards-drop{
        @include mainHeaderBtn;
        width: 92px;
        background-color: #ffffff27;
        margin-inline-start: 5px;
        filter: brightness(190%);

        img{
            margin-inline-start: -3px;
            width: auto;
            transform: scale(0.75);
        }
        &:hover{
            background-color: hsla(0, 0%, 100%, 0.253);
        }
    }
    .board-title{
        width: fit-content;
    }
    .board-section {
        margin-top: 0.5px;
    }

    .board-members-section {
        display: flex;
    }

    .board-header-btn {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        float: left;
        font-size: rem(15px);
        height: 32px;
        line-height: 32px;
        margin: 0 4px 4px 0;
        padding: 0 12px;
        margin-block-end: 0.67em;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;

        &:hover {
            background-color: rgba(255, 255, 255, 0.377);
        }
    }
}
