.board-group{
    background-color: $clr-group-bg;
    margin: 10px;
    height: fit-content;
    border-radius: 3px;
    padding-inline-start: 9px;
}

.group-title{
    background-color: transparent;
    border: none;
}

.group-header > * {
    display: inline-block;
}