.board-header {
    // background-color: rgba(39, 62, 88, 0.155);
    height: 52px;
    // padding: 8px 4px 0 8px;
    // width: 100%;
    // position: relative;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    // flex-wrap: wrap;
    .btn-boards-drop{
        @include mainHeaderBtn;
        width: 92px;
        background-color: hsla(0, 0%, 100%, 0.2);
        margin-inline-start: 5px;
        img{
            margin-inline-start: -3px;
            width: auto;
            transform: scale(0.75);
        }
    }
    .btn-star-board{
        @include mainHeaderBtn;
        font-family: trellicons;
        color: $clr-base;
        font-size: rem(16px);
        width: 32px;
        background-color: hsla(0, 0%, 100%, 0.2);
        
        // font-weight: 400;
        & div::before{
            content: "\e966";
        }
        &:hover{
            div{
                color: #f2d600;
                transform: scale(1.2);
            }
        }
    }
    .btn-user-space{
        @include mainHeaderBtn;
        background-color: hsla(0, 0%, 100%, 0.2);
        color: $clr-base;
        padding-inline-start: 12px;
        padding-inline-end: 12px;
        // font-size: 14px;
        // font-weight: 600
    }
    .nav-divider{
        margin: 0 7px;
        color: hsla(0, 0%, 100%, 0.3);
    }
    .board-title{
        @include mainHeaderBtn;
        margin-inline-start: 4px;
        padding: 0px 12px;
        color: $clr-base;
        font-size: rem(18px);
        line-height: 34px;
        &:focus{
            background-color: $clr-base;
            color: $clr-dark-title;
            cursor: auto;
            outline-color: $clr-input-ol;
            outline-style: solid;
            outline-width: 2px;
        }
    }
    .board-section {
        margin-top: 0.5px;
    }

    .board-members-section {
        display: flex;
    }

    .board-header-btn {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        float: left;
        font-size: rem(15px);
        height: 32px;
        line-height: 32px;
        margin: 0 4px 4px 0;
        padding: 0 12px;
        margin-block-end: 0.67em;
        position: relative;
        text-decoration: none;
        text-overflow: ellipsis;

        &:hover {
            background-color: rgba(255, 255, 255, 0.377);
        }
    }
}
