.group-menu {

    .btn-menu {
     
    }

    .group-menu-container {
       background-color: $clr-base;
       position: absolute;
       > :not( :first-child) {
        cursor: pointer;
       } 
    }
}