.group-menu {

    .btn-menu {
        border: none;
        width: 32px;
        height: 32px;
        &:hover {
            background-color: $clr-btn-hover-group-menu;
        }
    }

    .group-menu-container {
       background-color: $clr-base;
       position: absolute;
       > :not( :first-child) {
        cursor: pointer;
       } 
    }
}