.group-add {
    div{
        width: 272px;
        height: 40px;
        cursor: pointer;
        padding: 10px;
        border-radius: 2px;
        color: rgb(255, 255, 255);
        background-color: #b8b8b893;
        font-weight: 400;
        transition: background-color .2s ease-in-out;
        &:hover{
            background-color: #bbbabaf6;
        }
        span:first-child{
            font-size: 23px;
            padding-inline-start: 3px;
            padding-inline-end: 3px;
            padding-block-end: 3px;
        }
        span:not(:first-child){
           padding-block-start: 3px;
        }
    }
}

.group-edit{
    input{
        background-color: #ffffff;
    }
}