.group-menu {
    .group-menu-container {
       box-shadow: 0px 0px 10px -2px #0000004f;
       border: 1px solid #e4e6ea;
       border-radius: 4px;
       width: 230px;
       background-color: $clr-base;
       position: absolute;
       z-index: 1;
       > :not( :first-child) {
        cursor: pointer;
       } 
    }
    p{
        padding: 7px 0;
    }
    p:first-child{
        text-align: center;
        color: #5e6c84;
    }
    p:not(:first-child):hover{
        background-color: #f5f6f8;
    }
    p:not(:first-child){
        padding-inline-start: 12px;
    }

}
.copy-group-menu form{
    > * {

        margin-inline-start: 10px;
    }
    div{
        font-size: 12px;
        padding-block-start: 10px;
        font-weight: bold;
        // padding-inline-start: 10px;
        color: #5e6c84;
    }
    textarea{
        padding-inline-start: 10px;
        padding-block-start: 8px;
        border: 1px solid #dfe1e6;
        border-radius: 2px;
        height: 70px;
        width: 208px;
        margin: 3px auto 0px auto;
    }
    textarea:hover {
       background-color: #ebecf0;
    }
    button{
        @include defaultBtn;
        margin-block-start: 20px;
        margin-block-end: 10px;
        padding-inline-start: 22px;
        padding-inline-end: 22px;
    }
}