.task-preview{
    cursor: pointer;
    background-color: $clr-base;
    // padding: 6px;

    max-width: 95%;
    margin: 0 5px 0 auto;
    margin-block-end: 8px;
    border-radius: 3px;
    border-bottom: 1px solid #b2b9c5;
    // line-height: 2;
    min-height: 32px;
    p{
        position: relative;
        top: 5px;
        left: 8px;
    }
    &:hover{
        background-color: #f4f5f7;
    }
   
}

.task-members{
    justify-content: flex-end;
    margin-inline-end: 8px;
    margin-block-end: 4px;
    margin-block-start: 5px;
    * {
        margin-inline-start: 4px;

    }
}

