.task-preview {
    .big-cover {
        min-height: fit-content;
    }

    .big-cover-clr {
        &:hover {
            filter: brightness(95%);
        }


        min-height: 56px;
        // max-height: 300px;
        // min-height: fit-content;
        border-radius: 3px;
        // border-bottom: 1px solid $clr-group-bg;
        // box-shadow: 0px 10px 0px 0px rgba(235, 236, 240, 1);
        position: relative;
        top: 0px;
        display: flex;

        div {
            align-self: flex-end;
            // position: absolute;
            // bottom: 0;
            padding: 6px 8px 2px;

            span {
                word-wrap: break-word;
                display: block;
                font-size: 16px;
                color: #172b4d;
                padding-bottom: 8px;
                font-family: segSemiBold;
            }
        }
    }

    .big-cover-img {
        // width: 100px;
        min-height: 140px;
        max-height: 255px;
        background-position: center;
        background-size: cover;
        width: inherit;
        position: relative;
        // top: 1px;
        border-radius: 3px;
        // box-shadow: 0px 10px 0px 0px rgba(235, 236, 240, 1);

        .img-txt {
            position: absolute;
            bottom: 0;
            width: 100%;

            div:first-child {
                background: linear-gradient(180deg, #fff0, #ffffff80);
                height: 32px;

            }

            div:not(:first-child) {
                background: linear-gradient(180deg, #ffffff80, #fff);
                padding: 6px 8px 2px;
                border-radius: 0 0 3px 3px;
                // line-height: 20px;

            }

            span {
                padding-bottom: 8px;
                display: block;
                word-wrap: break-word;
                color: #172b4d;
                font-size: 16px;
                font-family: segSemiBold;
                margin: 0 0 4px;

            }
        }
    }

    // height: fit-content;
    .small-cover {
        .cover-clr {
            height: 32px;
            border-radius: 3px 3px 0 0;
        }

        img {
            pointer-events: none;
            border-radius: 3px 3px 0 0;
            object-fit: contain;
            background-color: rgba(211, 211, 211, 0.737);
            max-height: 250px;
            margin-block-end: -5px;
            width: 100%;
            // opacity: 0.2;
        }

        // background: linear-gradient(180deg, #ffffff80, #fff);
    }

    &:hover {
        .btn-remove-task {
            display: block;
            background-color: #f4f5f7e1;
        }
    }

    .btn-remove-task {
        display: block;
        z-index: 1;

        &:hover {
            background-color: #ececec;
        }

        &:active {
            background-color: #dfdede;

        }

        border-radius: 3px;
        position: absolute;
        right: 7px;
        margin-block-start: 2px;
        // bottom: 0px;
        width: 28px;
        height: 28px;
        font-size: rem(14px);
        display: none;
        border: none;
        font-family: trellicons;

        &::before {
            content: "\e907";
        }
    }

    .task-preview-badges {
        justify-content: space-between;
        max-width: 255px;
        min-height: 32px;
        // line-height: 0.1;
    }

    cursor: pointer;
    background-color: $clr-base;
    max-width: 95%;
    margin: 0 5px 0 auto;
    margin-block-end: 8px;
    border-radius: 3px;
    border-bottom: 1px solid #b2b9c5;
    // line-height: 2;
    min-height: 32px;

    // min-height: min-content;
    p {
        position: relative;
        // top: 5px;
        padding: 5px 0;
        left: 8px;
        width: 95%;
    }

    &:hover {
        background-color: #f4f5f7;
    }

    .task-labels {
        max-width: 235px;
        padding-block-start: 3px;
        line-height: 12px;
    }

    .task-preview-label {
        margin-inline-start: 8px;
        display: inline-block;
        color: $clr-base;
        font-family: segSemiBold;
        margin-inline-end: -5px;
        transition:
            height .3s ease-in,
            border-radius .3s ease-in-out,
            margin .4s ease-in-out,
            background-color 0.15s;
        font-size: 12px;

        &.close {
            border-radius: 10px;
            width: 40px;
            height: 8px;

            span {
                display: none;
            }
        }

        &.open {

            padding: 0 8px;
            border-radius: 4px;
            min-width: 56px;
            max-width: 214px;
            height: 16px;
            line-height: 16px;
            margin-block-start: 6px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .task-preview-date {
        color: #5e6c84f3;
        // line-height: 24px;
        // min-width: fit-content;
        // position: relative;
        // left: -7px;
        font-size: rem(12px);
        margin-inline-start: 6px;
        margin-block-start: 2px;

        // padding-inline-start: 1px;
        * {
            height: 24px;
            // text-align: left;
            line-height: 18px;
            padding: 2px;

            // margin: ;
            // background-color: $clr-base;
            // div {
            span:not(:first-child) {
                // color: black;
                position: relative;
                bottom: 1px;
                // margin-bottom: 100px;
            }

            // }

            span:first-child {
                color: #5e6c84e0;
                font-family: trellicons;
                // width: 99px;
                font-size: rem(16px);
                position: relative;
                bottom: -1px;

                // right: 5px;
                // display: inline;
                // margin-block-end: 10px;
                // vertical-align: text-bottom;
                &::before {

                    content: "\e91b";
                }

                &.clock {
                    &::before {
                        content: "\e91b";
                    }
                }

                &.unCheck {
                    &::before {
                        content: "\e919";
                    }
                }

            }
        }

        .start-only {
            width: fit-content;

        }

        .due-only {
            border-radius: 3px;
            min-width: 59px;

            &:hover {
                background-color: #ebecf0;
            }
        }

        .done,
        .over-due,
        .due-soon {
            color: $clr-base;
            font-family: segSemiBold;

            span:first-child {
                color: $clr-base;
            }

            &:hover {
                span:first-child {
                    &::before {
                        content: "\e919";
                    }
                }
            }
        }

        .over-due {
            background-color: #eb5a46;

            &:hover {
                background-color: #b04632;
            }
        }

        .done {
            background-color: #61bd4f;

            &:hover {
                background-color: #519839;

                span:first-child {
                    &::before {
                        content: "\e918";
                    }
                }
            }
        }

        .due-soon {
            background-color: #f2d600;

            &:hover {
                background-color: #d9b51c;
            }
        }
    }
}

.task-members {
    // direction: rtl;
    justify-content: flex-end;
    // float: right;
    position: relative;
    // left: 100px;
    margin-block-end: 5px;
    margin-inline-end: 5px;

    // bottom: 0px;
    // float: right;
    // margin-block-end: 4px;
    // margin-block-start: 10px;
    * {
        display: inline-block;
        // margin-inline-end: 3px;

    }

    *:not(:last-child) {
        // display: inline-block;
        margin-inline-end: 3px;

    }
}