.task-preview{
    cursor: pointer;
    background-color: $clr-base;
    padding: 7px;
    width: 95%;
    margin: 0 5px 0 auto;
    margin-block-end: 10px;
    border-radius: 3px;
    border-bottom: 1px solid #b2b9c5;
    &:hover{
        background-color: #f4f5f7;
    }
   
}

.task-members{
    justify-content: flex-end;
}

