.user-avatar {
    object-fit: cover;
    border-radius: 50px;
}

.user-avatar div {
    width: 100%;
    height: 100%;
    color: white;
    // font-family: segSemiBold;
    font-size: rem(13px);
    // box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.075);
    color: transparent;
    text-shadow: 0 0 1.05px rgb(255, 255, 255);


}

.user-avatar:hover {
    opacity: 0.8;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-avatar * {
    border-radius: inherit;
}