.activity-log {
    ul li /* div.flex-container */{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 20px;
        // gap: 4px;

        .user-avatar {
            margin: 0 8px 0 -8px;
            align-self: flex-start;
            
            @media (min-width: 784px) {
                margin: 0 8px 0 -36px;
            }
        }

        .user-fullname{
            font-weight: bold;
            color: #172b4d;
            margin-inline-end: 8px;
        }

        .comment-time{
            color: #5e6c84;
            font-size: 0.857rem;
        }

        p {
            width: 100%;
            margin-inline-start: 29px;

            @media (min-width: 784px) {
                margin-inline-start: 0;
            }
        }
    }
}
