section.task-details {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-y: auto;
    height: 100%;

    .modal-screen {
        background-color: rgba(0, 0, 0, 0.64);
        width: 100vw;
        // min-height: 100vh;
        overflow-y: auto;
        align-items: flex-start;

        .modal-container {
            position: relative;
            border-radius: 2px;
            margin: 48px 0 80px;
            max-width: 768px;
        }
    }
}

// .modal-header {
//   width: 100%;
// }

.modal-screen {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
}

.modal-container {
    background-color: white;
    position: fixed;
}

.modal-container {
    max-width: 500px;
    margin: auto;
}
