.trello-labels {
    ul {
        display: flex;
        gap: 4px;
    }

    button.add-label {
        padding: 5px 12px;

        &::before {
            font-family: trellicons;
            content: "\e901";
            vertical-align: middle;
            font-size: 16px;
        }
    }

    .label {
        display: block;
        border-radius: 3px;
        height: 32px;
        // margin: 0 4px 4px 0;
        min-width: 40px;
        padding: 0 12px;
        line-height: 32px;
    }

    .label:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}
