.input-title{
    cursor: pointer;
}

.input-edit{
    min-width: 272px;
    border-radius: 3px;
    textarea{

        border-style: solid;
        border-color: $clr-input-ol;
        // height: 34px;
        width: 100%;
        resize: none;
        font-size: inherit;
        font-family: inherit;
        border-radius: 3px;
        background-color: #ffffff;
        padding: 5px 10px;
    }
    button.primary-btn{
        @include defaultBtn;
        padding: 0px 12px;
        margin-block-start: 5px;
        margin-block-end: 5px;

    }
    button.cancel-btn{
        position: relative;
        top: 5px;
        left: 8px;
        border: none;
        // width: 15px;
        font-size: rem(24px);
        color: #6b778c;
        font-family: trellicons;
        &::before{
            content: "\e91c"; 
        }
        &:hover{
            color: #172b4d;
        }
    }
}