.trello-checklist {
    .float-right {
        float: right;
    }

    ul li {
        margin-bottom: 20px;
        display: flex;
    }

    input[type="checkbox"] {
        box-shadow: inset 0 0 1px 1px #dfe1e6;
        transform: scale(1.1);
        margin-inline-end: 17px;
        position: relative;
        top: 3px;

        @media (min-width: 784px) {
            margin-inline-start: -30px;
        }

        &:checked {
            box-shadow: none;
        }
    }
}
