* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
  font-family: seg;
  // background-color: #df6c3fe0;
  font-size: 14px;
  // background-image: url(../assets/bg.jpg);
  // backdrop-filter
  color: #172b4d;
  height: 100vh;

  .smooth-dnd-container {
    min-width: auto;
    min-height: 1px;
    height: min-content;
    // height: auto;
    max-height: calc(100vh - 200px) !important;

    &:hover {
      min-height: fit-content;
    }
  }

  input {
    font-family: Segoe UI;
    cursor: pointer;
  }

  hr {
    height: 1px;
    background-color: #dfe2e7;
    border: none;
    width: 90%;
    margin: 0 auto;
  }

  input:focus,
  textarea:focus {
    outline-color: $clr-input-ol;
    background-color: $clr-base;
    cursor: auto;
  }

  ::-webkit-scrollbar {
    border-radius: 4px;
    height: 12px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.253);
    border-radius: 4px;
    // margin: 5px;
  }

  ::-webkit-scrollbar-track {
    margin: 25px;
    // margin-top: 100px;

    // margin-bottom: 10px;
    border-radius: 4px;
    background: #00000038;
  }

  //  ::-webkit-scrollbar-track {
  //     border-radius: 10px;
  //     background: #eee;
  //     box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
  //   }
  // ::-webkit-scrollbar-thumb {
  //     border-radius: 10px;
  //     background: linear-gradient(left, #96A6BF, #63738C);
  //     box-shadow: inset 0 0 1px 1px #5C6670;
  //   }
  // ::-webkit-scrollbar-thumb:hover {
  //     background: linear-gradient(left, #8391A6, #536175);
  //   }

  button {
    cursor: pointer;
  }

  button.btn-default {
    border-radius: 3px;
    border: none;
    padding: 6px 12px;
    font-size: inherit;
    line-height: 1.43;
    font-family: inherit;
    background-color: #091e420a;
    color: #172b4d;

    &:hover {
      background-color: #091e4214;
      color: #091e42;
    }
  }
}