@mixin defaultBtn {
  background-color: #0079bf;
  color: white;
  border-radius: 3px;
  border: none;
  height: 33px;
  &:hover {
    background-color: #026aa7;
  }
}

@mixin mainHeaderBtn {
       cursor: pointer;
       height: 34px;
       background-color: transparent;
       border: none;
       border-radius: 3px;
       &:hover{
           background-color: rgba(255, 255, 255, 0.25);
       }
       img{
           margin-top: 3px;
           width: 16px;
           height: 16px;
       }
}

@mixin boardHeaderBtn {
       height: 34px;
       background-color: transparent;
       border: none;
       border-radius: 3px;
       &:hover{
           background-color: rgba(255, 255, 255, 0.2);
       }
       img{
           margin-top: 3px;
           width: 16px;
           height: 16px;
       }
}

@mixin add-trello-icon($icon-tag) {
  & {
    position: relative;
  }

  &::before {
    content: $icon-tag;
    color: $clr-dark-icon;
    display: inline-block;
    font-family: trellicons;
    margin-inline-end: 6px;
    margin-inline-start: -6px;
    font-size: 1.143em;
    line-height: 1.25;
    vertical-align: bottom;
  }

  &.section-title::before {
    vertical-align: middle;
    font-size: 1.714rem;

    @media (min-width: 784px) {
      position: absolute;
      left: -30px;
      top: -5px;
    }

    .modal-main & {
      margin-inline-end: 12px;
    }
  }
}