@font-face {
    font-family: trellicons;
    src: url(./assets/font/trellicons.ttf);
}

@font-face {
    font-family: segSemiBold;
    src: url(./assets/font/segoe-semi-bold.ttf);
}

@font-face {
    font-family: segBold;
    src: url(./assets/font/segoe-bold.ttf);
}

@font-face {
    font-family: seg;
    src: url(./assets/font/segoe-ui.ttf);
}