
// COLOR PALETTE
$clr-group-bg: #ebecf0;
$clr-modal-bg: rgb(243, 244, 246);
$clr-btn-hover-group-menu: darken($clr-group-bg, 5%);
$clr-base: #ffffff;
$clr-input-ol: #0079bf;
$clr-dark-title: #172b4d;
$clr-dark-icon:  lighten(desaturate($clr-dark-title, 30%), 15%);
$clr-labe0: #61bd4f;
$clr-labe1: #f2d600;;
$clr-labe2: #ff9f1a;
$clr-labe3: #eb5a46;
$clr-labe4: #c377e0; 
$clr-labe5: #0079bf;
$clr-labe6: #00c2e0;
$clr-labe7: #51e898;
$clr-labe8: #ff78cb;
$clr-labe9: #344563;
$clr-labe10: #b3bac5;
// $clr4: darken($clr3, 40%);
$clr5: #2d2d2d;

// LAYOUT
$layoutPadding: 20px;
// $bRadius: 2px

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

$fa-font-path: "../lib/webfonts";
