.cover-edit {
    * {

        transition: all .3s;
    }

    .btn-remove-cover {
        width: 280px;
        height: 32px;
        background-color: #091e420a;
        border: none;
        border-radius: 3px;
        margin-block-start: 5px;

        &:hover {
            background-color: #091e4214;
        }

        &:active {
            background-color: #e4f0f6;
            color: #0079bf;
        }
    }

    h4 {
        font-size: 12px;
        color: #5e6c84;
        font-family: segSemiBold;
        margin-inline-start: 3px;

        &:first-child {
            // margin-block-end: -15px;
        }

        &:not(:first-child) {
            margin-top: 10px;
        }
    }

    /* HIDE RADIO */
    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* IMAGE STYLES */
    [type=radio]+.cover-opt {
        cursor: pointer;
        border-radius: 3px;
    }

    /* CHECKED STYLES */
    [type=radio]:checked+.cover-opt,
    [type=radio]:checked+.btn-clr {
        // outline: 2px solid #f00;
        box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0079bf;
    }

    .cover-opt {


        height: 62px;
        width: 134px;
        border: 1px solid #091e4214;
        // background-color: lightgray;
        cursor: pointer;
        margin: 4px;

        .cover-opt-lines {


            &.colorized {
                opacity: 1;

                div {
                    background: #6B778C;
                    opacity: 1;
                }
            }

            .line {
                // background-color: black;
                width: 122px;
                height: 4px;
                border-radius: 2px;
                margin-top: 4px;
                margin-inline-start: 5px;
            }

            .line:nth-child(2) {
                width: 98px;
                // background-color: black;
            }

            .cube {
                width: 16px;
                height: 6px;
                border-radius: 2px;
                background-color: black;
                display: inline-block;
                margin: 1px;
                position: relative;
                bottom: 2px;
                left: 4px;
                background: #5E6C84;
                opacity: 0.3;
            }

            .circle {
                // background-color: black;
                border-radius: 50px;
                width: 10px;
                height: 10px;
                position: relative;
                left: 120px;
                bottom: 15px;
                background: #5E6C84;
                opacity: 0.3;
            }
        }


        &.small {
            .cover-opt-header {
                border-radius: 2px 2px 0 0;
                width: 132px;
                height: 28px;
                background: #5E6C84;
                opacity: 0.3;

            }

            .line {
                background: #5E6C84;
                opacity: 0.3;
            }
        }

        &.big {
            .big-container {
                border-radius: inherit;
                height: 62px;
                background: #5E6C84;
                opacity: 0.3;
                position: relative;
                bottom: 5px;
            }

            .cover-opt-lines {
                position: relative;
                top: 40px;
            }

            .line {
                background-color: $clr-base;
            }
        }
    }

    .btn-cover-container {
        gap: 7px;
        margin-block-start: 10px;

        .btn-clr {
            cursor: pointer;
            width: 50px;
            height: 32px;
            border-radius: 3px;

            &:hover {
                filter: saturate(85%) brightness(85%);
            }

            &:active {
                filter: saturate(70%) brightness(70%);
            }

            &.green {
                background-color: #7BC86C;
            }

            &.yellow {
                background-color: #f5dd29;
            }

            &.orange {
                background-color: #FFAF3F;
            }

            &.red {
                background-color: #EF7564;
            }

            &.purple {
                background-color: #CD8DE5;
            }

            &.blue {
                background-color: #5BA4CF;
            }

            &.lightblue {
                background-color: #29CCE5;
            }

            &.turquoise {
                background-color: #6DECA9;
            }

            &.pink {
                background-color: #FF8ED4;
            }

            &.navy {
                background-color: #172B4D;
            }

        }
    }
}