.labels-edit {

    .label {
        color: white;
        border-radius: 3px;
        cursor: pointer;
        font-weight: 700;
        margin: 0 0 4px;
        min-height: 32px;
        padding: 6px 12px;
        position: relative;
        transition: padding 85ms, margin 85ms, box-shadow 85ms;

        &:hover {
            box-shadow: -8px 0 #519839;
            margin-left: 4px;
        }

        span {
            max-width: calc(100% - 32px);
            display: inline-block;
        }

        &.selected {
            padding-right: 32px;

            &::before {
                font-family: trellicons;
                position: absolute;
                right: 6px;
                top: 6px;
                content: "\e916";
                color: white;
                font-size: 16px;
                height: 20px;
                line-height: 20px;
                width: 20px;
            }
        }
    }

    li {
        padding-right: 36px;
        position: relative;
    }

    .edit-icon {
        font-size: 16px;
        height: 32px;
        line-height: 20px;
        width: 32px;
        font-family: trellicons;
        text-align: center;
        border-radius: 3px;
        padding: 6px;
        position: absolute;
        right: 0;
        top: 0;
        &::after {
            content: "\e928";
        }

        &:hover {
            cursor: pointer;
            background-color: #091e4214;
        }
    }
}
